@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

/* || GLOBAL STYLES */

:root.light {
    --accent-color: #03A696;
    --aside-color: #e0ddd1;
    --aside-hover-color: #dbd9cf;
    --main-color: #ECE8DD;
    --text-color: 0, 0, 0;
    --todo-hover: 0, 0, 0;
    --todo-btn-hover: #e0dcd1;
    --priority-low: #36AE7C;
    --priority-medium: #FF6E31;
    --priority-high: #EB5353;
    --todo-title-crossed-color: #bebec2;
    --todo-title-crossed-bg: #b1b1bb;

}
:root,
:root.dark {
    --accent-color: #03A696;
    --aside-color: #191919;
    --aside-hover-color: #353535;
    --main-color: #161616;
    --text-color: 255, 255, 255;
    --todo-hover: 153, 153, 153;
    --todo-btn-hover: #252525;
    --priority-low: #36AE7C;
    --priority-medium: #FF6E31;
    --priority-high: #EB5353;
    --todo-title-crossed-color: #464646;
    --todo-title-crossed-bg: #3d3d3d;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body {
    color: rgb(var(--text-color), 0.8);
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden; 
}


/* FORM OVERLAY FORM */

.overlay-create-new,
.overlay-edit,
.overlay-view-details,
.overlay-delete-item-dialogue,
.overlay-add-new-project,
.overlay-delete-project-dialogue {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    /* display: none; */
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.is-visible {
    opacity: 1;
    visibility: visible;
    /* display: flex; */
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.overlay-delete-item-dialogue {
    text-align: center;
}
  
form.create-new, 
form.edit, 
.view-details-container, 
.delete-dialogue-contents,
form.add-new-project,
.delete-project-dialogue-contents {

    background-color: var(--aside-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    box-sizing: border-box;
    width: clamp(350px, 50%, 600px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 15px;
    padding: 1rem;

    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.create-new-main, 
.edit-main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.add-new-project-main {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.create-new-main input,
.edit-main input {
    outline: none;
    font-size: 0.8rem;
    color: var(--text-color);
    background-color: var(--aside-color);
} 

.add-new-project input {
    border: 1px solid rgb(131, 131, 131);
    border-radius: 8px;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: var(--text-color);
    background-color: var(--aside-color);
    margin: 0.5rem 0 1rem 0;
}

.add-new-project input:focus {
    outline: none;
    border: 1px solid var(--accent-color);
}

.create-new-main input:nth-child(1), .edit-main input:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 700;
}

.create-new-options, .edit-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}





.priority {
    height: 30px;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.priority-radios {
    display: flex;
    align-items: center;
    gap: 5px;
    /* cursor: pointer; */
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: var(--main-color);
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--accent-color);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}



#priority-low, #priority-low-edit {
    border: 0.15em solid var(--priority-low);
}

#priority-low::before, #priority-low-edit::before {
    box-shadow: inset 1em 1em var(--priority-low);
}

#priority-medium, #priority-medium-edit {
    border: 0.15em solid var(--priority-medium);
}

#priority-medium::before, #priority-medium-edit::before {
    box-shadow: inset 1em 1em var(--priority-medium);
}

#priority-high, #priority-high-edit {
    border: 0.15em solid var(--priority-high);
}

#priority-high::before, #priority-high-edit::before {
    box-shadow: inset 1em 1em var(--priority-high);
}

.create-new-options-main,
.create-new-actions,
.edit-options-main,
.edit-actions {
    display: flex;
    gap: 0.8rem;
}

.create-new-options-main, .edit-options-main {
    align-self: flex-end;
} 

.create-new-options button,  
.create-new-actions button,
.edit-options button,  
.edit-actions button {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
    padding: 0.4rem 0.6rem;
    border-radius: 5px;
    cursor: pointer;
}

.delete-dialogue-options,
.delete-project-dialogue-options {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

.delete-project-dialogue-warning {
    text-align: center;
}

.delete-project-dialogue-warning p:nth-child(2) {
    color: var(--priority-high);
    font-size: 0.8rem;
    margin-top: 0.8rem;
}

.add-project-options  {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.dialogue-option,
.add-project-option {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
    padding: 0.4rem 0.6rem;
    border-radius: 5px;
    cursor: pointer;
}

/* .due-date {
    
    gap: 5px;
} */

#new-due-date, #edit-due-date {
    color: var(--text-color);
    display: inline-flex;
    align-items: flex-end;
    font-size: 0.8rem;
    outline: none;
    background-color: transparent;
    appearance: none;
    text-transform: uppercase;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    user-select: none;
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    background-color: var(--accent-color);
    color: white;
    outline: none;
}

.create-new-divider, .edit-divider {
    width: 100%;
    height: 1px;
    background-color: #3b3b3b5b;
}

.create-new-actions, .edit-actions {
    align-self: flex-end;
    font-weight: 600;
}

.close-view-details {
    position: absolute;
    font-size: 1.2rem;
    right: 14px;
    top: 14px;
    cursor: pointer;
}

.view-details-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.view-detail{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.view-detail-priority.high > :first-child {
    color: var(--priority-high);
}

.view-detail-priority.medium > :first-child {
    color: var(--priority-medium);
}

.view-detail-priority.low > :first-child {
    color: var(--priority-low);
}

.confirm-btn {
    background-color: var(--accent-color);
    color: rgb(255, 255, 255, 0.8);
    font-weight: 700;
}

.confirm-delete-btn {
    background-color: var(--priority-high);
    color: rgb(255, 255, 255, 0.8);
    font-weight: 700;
}

/* || CONTENTS */
.contents {
    height: 100%;
    display: grid;
    grid-template-columns: auto 3fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "header header"
    "nav main";
}

a {
    color: inherit;
    text-decoration: none;
    pointer-events: none;
}

/* || HEADER */
.header {
    grid-area: header;
    color: white;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 1.3rem;
    padding: 2rem;
    background-color: var(--accent-color);
}

.header-nav {
    display: flex;
    gap: 0.625rem;
}

.header button {
    color: white;
    background: none;
    height: 24px;
    width: 24px;
    border-radius: 5px;
    font-size: 1.4rem;
    cursor: pointer;
}

.header button:hover {
    background: hsla(0,0%,100%,.2);
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}


/* || TOGGLE DARK/LIGHT THEME */
.toggle-theme input[type="checkbox"] {
visibility: hidden;
display: none;
}

.toggle-theme *,
.toggle-theme ::after,
.toggle-theme ::before {
box-sizing: border-box;
}

/* The switch - the box around the slider */
.toggle-theme .switch {
--width-of-switch: 2.5em;
--height-of-switch: 1.3em;
/* size of sliding icon -- sun and moon */
--size-of-icon: 1em;
/* it is like a inline-padding of switch */
--slider-offset: 0.3em;
position: relative;
width: var(--width-of-switch);
height: var(--height-of-switch);
display: inline-block;
}

/* The slider */
.toggle-theme .slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
/* background-color: #f4f4f5; */
background-color: var(--aside-color);
transition: .4s;
border-radius: 30px;
}

.toggle-theme .slider:before {
position: absolute;
content: "";
height: var(--size-of-icon,1.4em);
width: var(--size-of-icon,1.4em);
border-radius: 20px;
left: var(--slider-offset,0.3em);
top: 50%;
transform: translateY(-50%);
/* background: linear-gradient(40deg,#ff0080,#ff8c00 70%); */
background-color: var(--accent-color);
transition: .4s;
}

.toggle-theme input:checked + .slider {
/* background-color: #303136; */
background: var(--aside-color);
}

.toggle-theme input:checked + .slider:before {
left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
/* background: #303136; */
background: var(--aside-color);
/* change the value of second inset in box-shadow to change the angle and direction of the moon  */
/* box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb; */
box-shadow: inset -3px -2px 5px -2px var(--accent-color), inset -10px -4px 0 0 var(--accent-color);

}


/* || ASIDE */
nav {
    width: 250px;
    grid-area: nav;
    overflow: auto;
    overflow-x: hidden;
    /* transition: all 1s; */
    transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--aside-color);
}


.sidebar-content-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 1rem 1rem;
}

.side-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.side-nav:hover,
.project-item:hover,
.project-title-container:hover {
    background-color: var(--aside-hover-color);
}

.sidebar-content-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem 0 1rem;
}

.project-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 0 5px;
}

.project-title-container .add-project {
    cursor: pointer;
    font-size: 1.4rem;
}

.project-title {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
}

.project-item {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 5px 5px 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.project-item:nth-child(1) {
    display: none;
}

.project-item-content {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-project {
    display: flex;
    justify-self: flex-end;
    opacity: 0;
    padding: 0.5rem;
    transition: opacity 0.3s ease-in-out;
}

.project-item:hover .delete-project {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.dot {
    height: 13px;
    width: 13px;
    background-color: #b6b6b6;
    border-radius: 50%;
    flex-shrink: 0;
}

/* || MAIN */
.main-container {
    grid-area: main;
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    padding-bottom: 4rem;
}

.main h1 {
    font-weight: 700;
}

.main .add-todo {
    width: clamp(300px, 50%, 750px);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 15px;
    padding-left: 5px;
}

.add-todo-btn, .add-project{
    color: var(--text-color);
    margin-top: 7px;
    background: none;
    font-size: 2rem;
    border-radius: 8px;
    cursor: pointer;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
}


.btn-simple-animation:not(:disabled):hover {
    transform: scale(1.05);
}

.btn-simple-animation:not(:disabled):hover:active{
    transform: scale(1.05) translateY(.125rem);
}

.add-todo:hover {
    background-color: var(--todo-btn-hover);
}


.btn-simple-animation:focus {
    outline: 0 solid transparent;
}

.btn-simple-animation:focus:before {
content: "";
left: calc(-1*.375rem);
pointer-events: none;
position: absolute;
top: calc(-1*.375rem);
transition: border-radius;
user-select: none;
}

.btn-simple-animation:focus:not(:focus-visible) {
outline: 0 solid transparent;
}

.btn-simple-animation:focus:not(:focus-visible):before {
border-width: 0;
}

.btn-simple-animation:not(:disabled):active {
transform: translateY(.125rem);
}


.todo-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-sizing: border-box;
    padding: 4rem 0 0 2rem;
}

.todo-container h1 {
    font-size: 2rem;
}

.todo-list {
    max-width: 100%;
    max-height: 37.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    /* scrollbar-gutter: stable; */
    /* scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin; */

}

.todo-list::-webkit-scrollbar {
    width: 5px;
  }
  
  .todo-list::-webkit-scrollbar-track {
    background-color: var(--main-color);
    border-radius: 100px;
  }
  
  .todo-list::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    /* box-shadow: inset 0 0 6px var(--accent-color); */
    border-radius: 100px;
  }

#default0 {
    display: none;
}

.todo-wrapper {
    width: clamp(400px, 50%, 750px);
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 5px;
    box-shadow: 2px 1px 2px rgb(var(--todo-hover), 0.15);
    transition: all 0.3s ease-in-out;
}

.todo-wrapper.priority-low {
    border-left: 3px solid var(--priority-low);
}

.todo-wrapper.priority-medium {
    border-left: 3px solid var(--priority-medium);
}

.todo-wrapper.priority-high {
    border-left: 3px solid var(--priority-high);
}

.todo-wrapper:after {
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgb(var(--todo-hover), 0.3);
    transition: opacity 0.3s ease-in-out;
}

.todo-wrapper:hover {
    transform: scale(1.02, 1.02);
}

/* Fade in the pseudo-element with the bigger shadow */
.todo-wrapper:hover::after {
opacity: 1;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.todo-item-actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.todo-item-actions button {
    color: var(--text-color);
    background: none;
    height: 19px;
    width: 25px;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

.todo-item-actions button:hover {
    background: var(--todo-btn-hover);
}

.todo-item-due-date {
    font-weight: 500;
    font-size: 0.8rem;
}

.todo-item-actions button.item-details {
    font-size: 0.625rem;
    font-weight: 700;
    width: 45px;
    border: 1px solid rgb(105, 105, 105);
}

.todo-item-actions button.item-details:hover {
    background-color: var(--accent-color);
    color: white;
}

.todo-item .cbx {
-webkit-user-select: none;
user-select: none;
-webkit-tap-highlight-color: transparent;
cursor: pointer;
}
.todo-item .cbx span {
display: inline-block;
vertical-align: middle;
transform: translate3d(0, 0, 0);
}
.todo-item .cbx span:first-child {
position: relative;
width: 24px;
height: 24px;
border-radius: 50%;
transform: scale(1);
vertical-align: middle;
border: 1px solid #B9B8C3;
transition: all 0.2s ease;
}
.todo-item .cbx span:first-child svg {
position: absolute;
z-index: 1;
top: 8px;
left: 6px;
fill: none;
stroke: white;
stroke-width: 2;
stroke-linecap: round;
stroke-linejoin: round;
stroke-dasharray: 16px;
stroke-dashoffset: 16px;
transition: all 0.3s ease;
transition-delay: 0.1s;
transform: translate3d(0, 0, 0);
}
.todo-item .cbx span:first-child:before {
content: "";
width: 100%;
height: 100%;
background: #579BB1;
display: block;
transform: scale(0);
opacity: 1;
border-radius: 50%;
transition-delay: 0.2s;
}
.todo-item .cbx span:last-child {
margin-left: 8px;
}
.todo-item .cbx span:last-child:after {
content: "";
position: absolute;
top: 8px;
left: 0;
height: 1px;
width: 100%;
background: var(--todo-title-crossed-bg);
transform-origin: 0 0;
transform: scaleX(0);
}
.todo-item .cbx:hover span:first-child {
border-color: var(--accent-color);
}

.todo-item .inp-cbx:checked + .cbx span:first-child {
border-color: var(--accent-color);
background: var(--accent-color);
animation: cbx-15 0.6s ease;
}
.todo-item .inp-cbx:checked + .cbx span:first-child svg {
stroke-dashoffset: 0;
}
.todo-item .inp-cbx:checked + .cbx span:first-child:before {
transform: scale(2.2);
opacity: 0;
transition: all 0.6s ease;
}
.todo-item .inp-cbx:checked + .cbx span:last-child {
color: var(--todo-title-crossed-color);
transition: all 0.3s ease;
}
.todo-item .inp-cbx:checked + .cbx span:last-child:after {
transform: scaleX(1);
transition: all 0.3s ease;
}

@keyframes cbx-15 {
50% {
    transform: scale(1.2);
}
}


